{%- assign share_url = shop.url | append: article.url -%}
{%- assign twitter_text = article.title -%}
{%- assign pinterest_description = article.description | strip_html | truncatewords: 15 | url_param_escape -%}
{%- assign pinterest_image = article.image | img_url: '750x' | prepend: 'https:' -%}

{% comment %}
   These two lines are needed, so the extra content handling will be excluded from rendering
{% endcomment %}
{% capture article_content %}{{ article.content | strip_html }}{% endcapture %}
{% assign content_split = article_content | split: '-content:' %}

<article class="Article Journal" data-section-id="{{ section.id }}" data-section-type="article">
  <aside class="ArticleToolbar hidden-phone">
    <div class="ArticleToolbar__Left">
      <span class="Heading Text--subdued u-h8 hidden-tablet">{{ 'blog.article.now_reading' | t }}</span>
      <span class="ArticleToolbar__ArticleTitle Heading u-h7">{{ article.title }}</span>
    </div>

    <div class="ArticleToolbar__Right">
      {%- if section.settings.show_share_buttons -%}
        <div class="ArticleToolbar__ShareList">
          <span class="ArticleToolbar__ShareLabel Heading Text--subdued u-h8">{{ 'blog.article.share' | t }}</span>

          <div class="HorizontalList">
            <a class="HorizontalList__Item Text--subdued Link" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'facebook' -%}</a>
            <a class="HorizontalList__Item Text--subdued Link" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'twitter' -%}</a>
            <a class="HorizontalList__Item Text--subdued Link" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- render 'icon' with 'pinterest' -%}</a>
          </div>
        </div>
      {%- endif -%}

      {%- if blog.next_article or blog.previous_article -%}
        <div class="ArticleToolbar__Nav">
          {%- if blog.next_article -%}
            <a href="{{ blog.next_article }}" class="ArticleToolbar__NavItem ArticleToolbar__NavItem--next Heading Text--subdued Link u-h8">{% render 'icon' with 'select-arrow-left' %} {{ 'blog.article.previous' | t }}</a>
          {%- endif -%}

          {%- if blog.previous_article and blog.next_article -%}
            <span class="ArticleToolbar__NavItemSeparator"></span>
          {%- endif -%}

          {%- if blog.previous_article -%}
            <a href="{{ blog.previous_article }}" class="ArticleToolbar__NavItem ArticleToolbar__NavItem--prev Heading Text--subdued Link u-h8">{{ 'blog.article.next' | t }} {% render 'icon' with 'select-arrow-right' %}</a>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </aside>

  {% comment %}
  {%- if article.image and section.settings.show_article_image -%}
    <div class="Article__ImageWrapper" style="background-image: url({{ article.image | img_url: '1x1' }})">
      <div class="Article__Image Image--lazyLoad Image--fadeIn"
           data-optimumx="1.4"
           data-bgset="{{ article.image | img_url: '400x' }} 400w, {{ article.image | img_url: '600x' }} 600w, {{ article.image | img_url: '800x' }} 800w, {{ article.image | img_url: '1200x' }} 1200w, {{ article.image | img_url: '1400x' }} 1400w, {{ article.image | img_url: '1600x' }} 1600w">
      </div>
    </div>
  {%- endif -%}
  {% endcomment %}

  <div class="Container">
    <div class="Article__Content">
      {% comment %}
      <header class="Article__Header">
        {%- capture article_meta -%}
          {%- if section.settings.show_date -%}
            <span class="Article__MetaItem">{{ article.published_at | date: format: 'month_day_year' }}</span>
          {%- endif -%}

          {%- if section.settings.show_category and article.tags != empty -%}
            <span class="Article__MetaItem">{{ article.tags.first }}</span>
          {%- endif -%}
        {%- endcapture -%}

        {%- if article_meta != blank -%}
          <div class="Article__Meta Heading Text--subdued u-h6">
            {{- article_meta -}}
          </div>
        {%- endif -%}
      </header>
      {% endcomment %}

      <div class="Article__Inner_Content">
        <div class="Article__Main_Meta">
          <h1 class="Article__Title">{{ article.title }}</h1>
          <h1 class="Article__Author">with {{ article.author }}</h1>
        </div>
        <div class="Article__Main_Content">
          <div class="Article__Text_Content">
            <div class="Article__Article_Content">
              <h5>{{ article.published_at | date: '%B %Y' }}</h5>
              <p>{{ content_split[0] }}</p>
            </div>
          </div>
          <div class="Article__Featured_Image">
            <img src="{{ article.image | img_url: 'x920' }}">
          </div>
        </div>
      </div>

      {% comment %}
      {%- capture article_footer -%}
        {%- if section.settings.show_author -%}
          <span class="Article__Author Heading Text--subdued u-h6">{{ 'blog.article.written_by' | t: author: article.author }}</span>
        {%- endif -%}

        {%- if section.settings.show_share_buttons -%}
          <div class="Article__ShareButtons ShareButtons">
            <a class="ShareButtons__Item ShareButtons__Item--facebook" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'facebook' -%}</a>
            <a class="ShareButtons__Item ShareButtons__Item--twitter" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'twitter' -%}</a>
            <a class="ShareButtons__Item ShareButtons__Item--pinterest" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- render 'icon' with 'pinterest' -%}</a>
          </div>
        {%- endif -%}
      {%- endcapture -%}

      {%- if article_footer != blank -%}
        <footer class="Article__Footer">
          {{ article_footer }}
        </footer>
      {%- endif -%}
      {% endcomment %}
    </div>

    {%- if blog.comments_enabled? -%}
      {%- if article.comments_count > 0 -%}
        <div class="Article__Comments">
          <span class="Anchor" id="comments"></span>

          <h2 class="Heading u-h1">{{ 'blog.article.comments_count' | t: count: article.comments_count }}</h2>

          <div class="Article__CommentList">
            {%- paginate article.comments by 25 -%}
              {%- for comment in article.comments -%}
                <div class="ArticleComment">
                  <div class="ArticleComment__Body Rte">
                    {{ comment.content }}
                  </div>

                  <div class="ArticleComment__Meta Heading Text--subdued u-h8">
                    <span class="ArticleComment__Author">{{ comment.author }}</span>
                    <span class="ArticleComment__Date">{{ comment.created_at | date: format: 'month_day_year' }}</span>
                  </div>
                </div>
              {%- endfor -%}

              {% render 'pagination', paginate: paginate, hash: '#comments' %}
            {%- endpaginate -%}
          </div>
        </div>
      {%- endif -%}

      <div class="Article__CommentFormWrapper">
        {% if article.comments_count == 0 %}
          <span class="Anchor" id="comments"></span>
        {%- endif -%}

        <span class="Anchor" id="comment_form"></span>

        <h2 class="Heading u-h1">{{ 'blog.comments.form_title' | t }}</h2>

        {%- form 'new_comment', article, class: 'Article__CommentForm Form', id: '' -%}
          {%- if form.posted_successfully? -%}
            <p class="Form__Alert Alert Alert--success">
              {%- if blog.moderated? -%}
                {{- 'blog.comments.success_moderated' | t -}}
              {%- else -%}
                {{- 'blog.comments.success' | t -}}
              {%- endif -%}
            </p>
          {%- endif -%}

          {%- if form.errors -%}
            <div class="Form__Alert Alert Alert--error">
              <ul class="Alert__ErrorList">
                {%- for field in form.errors -%}
                  {%- if field == 'form' -%}
                    <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                  {%- else -%}
                    <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

          <div class="Form__Group">
            <div class="Form__Item">
              <input type="text" class="Form__Input" name="comment[author]" placeholder="{{ 'blog.comments.name_placeholder' | t }}" aria-label="{{ 'blog.comments.name_placeholder' | t }}" value="{{ form.author | escape | default: customer.name }}" required="required">
              <label class="Form__FloatingLabel">{{ 'blog.comments.name_placeholder' | t }}</label>
            </div>

            <div class="Form__Item">
              <input type="email" class="Form__Input" name="comment[email]" placeholder="{{ 'blog.comments.email_placeholder' | t }}" aria-label="{{ 'blog.comments.email_placeholder' | t }}" value="{{ form.email | escape | default: customer.email }}" required="required">
              <label class="Form__FloatingLabel">{{ 'blog.comments.email_placeholder' | t }}</label>
            </div>
          </div>

          <div class="Form__Item">
            <textarea name="comment[body]" rows="6" class="Form__Textarea" placeholder="{{ 'blog.comments.comment_placeholder' | t }}" aria-label="{{ 'blog.comments.comment_placeholder' | t }}" required="required">
              {{- form.body -}}
            </textarea>

            <label class="Form__FloatingLabel">{{ 'blog.comments.comment_placeholder' | t }}</label>
          </div>

          {%- if blog.moderated? -%}
            <p class="Form__Hint">{{ 'blog.comments.approval_notice' | t }}</p>
          {%- endif -%}

          <button type="submit" class="Form__Submit Button Button--primary">{{ 'blog.comments.submit' | t }}</button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>



  {% comment %}
     Extra content handling. Syntax has to be precise in blog posts
	 These get processed by the '-content:' prefix in the article content

  
	 Six (6) content lines in total
	 First five (5) are links to the articles (order is important)
  
	 Example: -content:journal/journal-story-title
     (where 'journal' is the blog collection page, and 'journal-story-title' is the article handle within the 'journal' blog collection)

  
	 The last one is the quote, which then gets processed at the dash ('-') character
	 First part is the quote itself, second part is the author of said quote
  
  	 Example: -content:Very nice quote goes here.-Author's name
     (where 'Very nice quote goes here.' is the quote itself, and 'Author's name' is the author)
  
  
     Please be wary of the space usages, because of the nature of this code being very fragile
  	 Don't put space(s) before and after the '-content:' prefix
     Don't put space(s) before and after the dash ('-') character in the quote
  
     Filling all five (5) articles' link in the blogpost's content is necessary
     Giving the quote an author is necessary
     Quotation marks and the dash are rendered automatically
  {% endcomment %}
  
  {% capture article_content %}{{ article.content | strip_html }}{% endcapture %}
  {% assign content_split = article_content | split: '-content:' %}
  
  {% assign ext_article_1_handle = content_split[1] | strip %}
  {% assign ext_article_1 = articles[ext_article_1_handle] %}
  
  {% assign ext_article_2_handle = content_split[2] | strip %}
  {% assign ext_article_2 = articles[ext_article_2_handle] %}
  
  {% assign ext_article_3_handle = content_split[3] | strip %}
  {% assign ext_article_3 = articles[ext_article_3_handle] %}
  
  {% assign ext_article_4_handle = content_split[4] | strip %}
  {% assign ext_article_4 = articles[ext_article_4_handle] %}
  
  {% assign ext_article_5_handle = content_split[5] | strip %}
  {% assign ext_article_5 = articles[ext_article_5_handle] %}

  {% assign ext_quote = content_split[6] | split: '-' %}
  
  {% comment %}
     For some reason, string filters fail to work with article.content, like 'trunctate'
     hence, long text is trunctated by CSS
  {% endcomment %}

  <div class="Recommendation__Container Container">
    
    <div class="Recommendations__Section_1">
      <div class="ArticleBrowseItem">
        <a href="{{ ext_article_1.url }}">
          <div class="ArticleBrowseItem__Image">
            <img src="{{ ext_article_1.image | img_url: '300x425', crop: 'center' }}">
          </div>
          <div class="ArticleBrowseItem__Text">
            <p class="ArticleBrowseItem__Heading">{{ ext_article_1.title }}</p>
            <p class="ArticleBrowseItem__Short-Content">{{ ext_article_1.content | strip_html | trunctate: 450 }}</p>
          </div>
        </a>
      </div>

      <div class="ArticleBrowseItem">
        <a href="{{ ext_article_2.url }}">
          <div class="ArticleBrowseItem__Image">
            <img src="{{ ext_article_2.image | img_url: '300x425', crop: 'center' }}">
          </div>
          <div class="ArticleBrowseItem__Text">
            <p class="ArticleBrowseItem__Heading">{{ ext_article_2.title }}</p>
            <p class="ArticleBrowseItem__Short-Content">{{ ext_article_2.content | strip_html | trunctate: 450 }}</p>
          </div>
        </a>
      </div>

      <div class="ArticleBrowseItem">
        <a href="{{ ext_article_3.url }}">
          <div class="ArticleBrowseItem__Image">
            <img src="{{ ext_article_3.image | img_url: '300x425', crop: 'center' }}">
          </div>
          <div class="ArticleBrowseItem__Text">
            <p class="ArticleBrowseItem__Heading">{{ ext_article_3.title }}</p>
            <p class="ArticleBrowseItem__Short-Content">{{ ext_article_3.content | strip_html | trunctate: 450 }}</p>
          </div>
        </a>
      </div>
    </div>
    
    <div class="Recommendations__Section_2">
      <div class="ArticleBrowseItem">
        <a href="{{ ext_article_4.url }}">
          <div class="ArticleBrowseItem__Image">
            <img src="{{ ext_article_4.image | img_url: '200x' }}">
          </div>
          <div class="ArticleBrowseItem__Text">
            <p class="ArticleBrowseItem__Heading">{{ ext_article_4.title }}</p>
            <p class="ArticleBrowseItem__Short-Content">{{ ext_article_4.content | strip_html | trunctate: 150 }}</p>
          </div>
        </a>
      </div>
      <div class="ArticleQuote">
        <p class="QuoteText">“{{ ext_quote[0] }}”</p>
        <p>—</p>
        <p>{{ ext_quote[1] }}</p>
      </div>
    </div>
    
    <div class="Recommendations__Section_3">
      <div class="ArticleBrowseItem">
        <a href="{{ ext_article_5.url }}">
          <div class="ArticleBrowseItem__Image">
            <img src="{{ ext_article_5.image | img_url: '620x' }}">
          </div>
          <div class="ArticleBrowseItem__Text">
            <p class="ArticleBrowseItem__Heading">{{ ext_article_5.title }}</p>
            <p class="ArticleBrowseItem__Short-Content">{{ ext_article_5.content | strip_html }}</p>
          </div>
        </a>
      </div>
    </div>
    
  </div>
</article>

{% comment %}
   Dependencies (jQuery and slick). Don't forget to copy these files from Assets, when migrating
   Please copy slick's fontset (slick.tff, slick.woff, slick.svg, slick.eot) as well
{% endcomment %}

{{ 'jquery-1.11.0.min.js' | asset_url | script_tag  }}
{{ 'jquery-migrate-1.2.1.min.js' | asset_url | script_tag  }}
{{ 'slick.min.js' | asset_url | script_tag  }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}

{% comment %}
   Handling of the article slider via slick carousel
{% endcomment %}

<script type="text/javascript">
  $(document).ready(function() {
    if(window.innerWidth < 900) {
      $('.Recommendations__Section_1').slick({
        dots: true,
        arrows: false,
        slidesToShow: 1,
        infinite: true,
        adaptiveHeight: true,
        centerMode: true,
        centerPadding: '60px',
        variableWidth: true
      });
    }
    
    $(window).resize(function() {
      if(window.innerWidth < 900) {
        if (!$('.Recommendations__Section_1').hasClass('slick-initialized')) {
          $('.Recommendations__Section_1').slick({
            dots: true,
            arrows: false,
            slidesToShow: 1,
            infinite: true,
            adaptiveHeight: true,
            centerMode: true,
            centerPadding: '60px',
            variableWidth: true
          });
        }
      } else {
        if ($('.Recommendations__Section_1').hasClass('slick-initialized')) {
          $('.Recommendations__Section_1').slick('unslick');
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Blog post page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show article date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    }
  ]
}
{% endschema %}