<section class="story-two" id="section-{{section.id}}">


	<!-- Slider main container -->
	<div class="swiper-container-two">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			{% for block in section.blocks %}
			{% assign slide = block.settings %}
			<div class="swiper-slide">
				<div class="content">
					<div class="col-one">
						<div class="col-content">
							<h3 class="story-heading"><span>Craft —</span> Pattern </h3>
							{%if slide.main_img %}
							{%- render 'image', image: slide.main_img -%}
							{% endif %}

							<a class="Form__Submit Button Button--primary"
								href="{{ slide.btn_link }}">{{ slide.btn_text }}<span>→</span></a>
						</div>
					</div>
					<div class="col-two">
						<h2>{{ slide.heading }}</h2>
						<p>{{ slide.textarea }}</p>
						<div class="image">
							<h3>{{slide.image_heading}}</h3>
							<p>{{ slide.image_text }}</p>
							{%if slide.image_2 %}
							{%- render 'image', image: slide.image_2 -%}
							{% endif %}
						</div>
						<a class=" mobile-dblock Form__Submit Button Button--primary"
							href="{{ slide.btn_link }}">{{ slide.btn_text }}<span>→</span></a>
					</div>
				</div>

			</div>
			{% endfor %}

		</div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve">
		<polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5   405.606,308.713 476.213,238.106 "/>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		</svg>
		</div>

	</div>


</section>

<script>
	function sliderInit() {
		const swiper = new Swiper('.swiper-container-two', {
			loop: true,
			effect: 'fade',
			allowTouchMove: false,
			// Navigation arrows
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
		})
		if (swiper.slides.length <= 3) {
			swiper.navigation.nextEl.style.display = 'none'
		}
	}
	sliderInit()
</script>



{% schema %}
{
"name": "Story block",
"blocks":[
{
"type": "slide",
"name": "Slide",
"settings": [


{
"type": "image_picker",
"id": "main_img",
"label": "First image"
},
{
"type": "text",
"id": "btn_text",
"label": "Button text",
"default": "DISCOVER SEASONAL GIFTS"
},
{
"type": "url",
"id": "btn_link",
"label": "Button link"
},
{
"type": "text",
"id": "heading",
"label": "Heading text",
"default": "Highlands Edit"
},
{
"type": "textarea",
"id": "textarea",
"label": "Description text"
},
{
"type": "text",
"id": "image_heading",
"label": "Second image heading",
"default": "Heading"
},
{
"type": "text",
"id": "image_text",
"label": "Second image text",
"default": "Woodpecker cardigan, brown illum qui dolorem eum fugiat quo voluptas nulla pariatur"
},
{
"type": "image_picker",
"id": "image_2",
"label": "Second image"
}

]
}
],

"presets": [
{
"category": "Custom",
"name": "Story block two"
}
]
}
{% endschema %}